* {
    box-sizing:border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background: #34626c;
}

.header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #34626c;
    color: #c6b497;
    border-bottom: 4px solid #c6b497;
}

.gallery {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.gallery img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.gallery::after {
    content: "";
    width: 350px;
}